.nav-wrapper {
  background-color: maroon;
  border-bottom: solid 2px gold;
  font-family: 'Righteous', cursive;
}

.brand-logo {
  margin-left: 10px;
}

h1.flow-text {
  font-size: 30pt;
  color: black;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 100pt;
  font-family: 'Righteous', cursive;
}

body {
  background-image: url('/img/burgers.jpeg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}
.new-button{
  text-align: center;
}

.btn-large {
  background-color: gold;
  color: black;
  font-weight: bold;
  border-radius: 100px;
}

.row {
  margin-left: 240px;
}

.row .col.s4 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  border-radius: 20px;
  margin-top: 190px;
  padding-bottom: 1%;
  margin-right:10px;
  margin-left:10px;
  font-family: 'Righteous', cursive;
}

.tidbits {
  font-size: 16pt;
  color: gold;
  text-align: center;
}

.small-tidbits {
  font-size: 10pt;
  color: white;
  text-align: center;
}

footer.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  background-color: maroon;
  text-align: center;
  height: 75px;
  border-top:solid 2px gold;
  font-family: 'Righteous', cursive;
}

footer.page-footer-order {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: maroon;
  text-align: center;
  height: 75px;
  border-top:solid 2px gold;
  font-family: 'Righteous', cursive;
  z-index: 3;
}

.tagline {
  font-size: 7pt;
  text-align: left;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.card {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  width: 210pt;
  height: 300pt;
  background-color: gold;
  border-radius: 20px;
  margin-top: 0px;
}

.card .card-content {
  background-color: gold;
  font-size: 10pt;
  border-radius: 10pt;
  font-family: 'Saira Semi Condensed', sans-serif;
  padding: 10pt;
  padding-top: 5pt;
}

.card .card-title {
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 2pt;
}

.card .card-image img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 0;
}

.card-content a {
  color: indigo;
  margin-top: 0;
}

.card .card-reveal {
  background-color: gold;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#order-page {
  margin-left: 0px;
}

#card-container {
  margin-left: 30px;
}

#food-column {
  float: left;
  width: 700px:
  margin-left: 40px;
}

#price-column {
  float: right;
  width: 600px;
  height: 640px;
  margin-right: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 3px;
  border-radius: 20px;
}

#menu {
  font-size: 18pt;
  color: white;
  margin: 0;
  margin-bottom: 5pt;
  margin-left: 40px;
  margin-top: 2pt;
  font-family: 'Righteous', cursive;

}

#menu-two {
  font-size: 18pt;
  color: white;
  margin: 0;
  margin-bottom: 0;
  text-align: right;
  margin-right: 430pt;
  margin-top: 2pt;
  font-family: 'Righteous', cursive;
}

.table {
  color: white;
  margin: 0;
  font-family: 'Saira Semi Condensed', sans-serif;
}

td, th {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#cart-title {
  color: gold;
  font-size: 14pt;
  margin-top: 5pt;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}

.remove-custom {
  background-color: gold;
  color: black;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 12pt;
  border-radius: 5pt;
  font-weight: bold;
  padding-left: 2pt;
  padding-right: 2pt;
}
